body {
  font-family: arial;
  font-size: 16px;
  background-color: hsl(172, 36%, 69%);
}
.logo-cnt {
  margin-top: 150px;
  margin-left: 500px;
}
div.main-cnt {
  width: 700px;
  height: 400px;
  margin: 30px 200px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
div.bill-cnt {
  margin-left: 40px;
  width: 260px;
  height: 130px;
}
p.bill {
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  color: hsl(186, 14%, 43%);
}
div.amount-cnt {
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 35px;
  border-radius: 8px;
  background-color: hsl(185, 41%, 84%);
}
img.dollar {
  width: 15px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
p.amnt {
  margin-left: 200px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: hsl(186, 14%, 43%);
}
div.select-cnt {
  margin-left: 0px;
}
p.select {
  font-weight: bold;
  color: hsl(186, 14%, 43%);
}
div.pcntg-cnt {
  display: flex;
  flex-direction: column;
}
div.top-cnt {
  display: flex;
  flex-direction: row;
}
div.top-cnt > div {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  color: white;
  background-color: hsl(182, 89%, 11%);
}
div.bttm-cnt {
  display: flex;
  flex-direction: row;
}
div.bttm-cnt > div {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  padding-top: 10px;
  color: white;
  border-radius: 5px;
  background-color: hsl(182, 89%, 11%);
}
div.bttm-cnt > div:nth-child(3) {
  width: 80px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  color: hsl(186, 14%, 43%);
  background-color: hsl(185, 41%, 84%);
}
div.ppl-cnt {
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 35px;
  border-radius: 8px;
  background-color: hsl(185, 41%, 84%);
}
p.people {
  font-weight: bold;
  color: hsl(186, 14%, 43%);
}
.ppl-logo {
  width: 15px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
div.side-cnt {
  margin-left: 30px;
  margin-top: 25px;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background-color: hsl(182, 89%, 11%);
}
div.tip-cnt {
  margin-top: 20px;
  margin-left: 30px;
  width: 300px;
  display: flex;
  flex-direction: row;
}
p.tip {
  color: white;
  font-size: 16px;
  width: 90px;
}
p.person {
  font-size: 13px;
  color: rgb(186, 181, 181);
  margin-top: -10px;
}
.dollar-sign {
  color: hsl(182, 76%, 34%);
  font-weight: bold;
  font-size: 35px;
  margin-top: 60px;
  margin-right: 5px;
}

div.total-cnt {
  width: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-left: 30px;
}
.tip-amnt {
  font-weight: bold;
  font-size: 50px;
  color: hsl(182, 76%, 34%);
}
div.tip-cnt > .amnt-cnt {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-top: -40px;
}
div.total-cnt > .amnt-cnt {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-top: -40px;
}
.bttn-cnt {
  margin-left: 30px;
  margin-top: 20px;
}
.reset-bttn {
  width: 280px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  background-color: hsl(182, 76%, 34%);
  border: none;
  border-radius: 7px;
  color: hsl(182, 79%, 24%);
}
